<form action="/add-recipe" method="POST">
  <p>Name of the recipe <input type="text" name="name"></p>
  <p>Description <input type="text" name= "description"></p>
  <p>Preparation time <input type="text" name="prep_time"></p>
  <p>Difficulty <input type="text" name="difficulty"></p>
  <input type="submit">
</form>
